CW_CONTROLLER_URL={{ clusterwatch_controller_url }}
CW_NODE_ID={{ clusterwatch_node_id }}
CW_NODE_LABELS={{ clusterwatch_node_labels }}
CW_SAMPLE_INTERVAL_SECONDS={{ clusterwatch_sample_interval_seconds }}
CW_ENABLE_JETSON_TELEMETRY={{ clusterwatch_enable_jetson_telemetry | ternary('true', 'false') }}
CW_DELIVERY_MAX_ATTEMPTS={{ clusterwatch_delivery_max_attempts }}
CW_DELIVERY_RETRY_BASE_SECONDS={{ clusterwatch_delivery_retry_base_seconds }}
CW_DELIVERY_RETRY_MAX_SECONDS={{ clusterwatch_delivery_retry_max_seconds }}
CW_DELIVERY_RETRY_JITTER={{ clusterwatch_delivery_retry_jitter }}
CW_API_KEY={{ clusterwatch_api_key }}
