CW_DATABASE_PATH={{ clusterwatch_data_dir }}/clusterwatch.db
CW_OFFLINE_TIMEOUT_SECONDS={{ clusterwatch_offline_timeout_seconds }}
CW_CPU_WARNING_PERCENT={{ clusterwatch_cpu_warning_percent }}
CW_MEMORY_WARNING_PERCENT={{ clusterwatch_memory_warning_percent }}
CW_DISK_WARNING_PERCENT={{ clusterwatch_disk_warning_percent }}
CW_TEMPERATURE_WARNING_C={{ clusterwatch_temperature_warning_c }}
CW_HISTORY_RETENTION_DAYS={{ clusterwatch_history_retention_days }}
CW_API_KEY={{ clusterwatch_api_key }}
